<!DOCTYPE html>
<html>
  <head>
    <title>MapTiler - OpenLayer - OpenStreetMap</title>
    <link
      rel="stylesheet"
      href="https://openlayers.org/en/v4.6.5/css/ol.css"
      type="text/css"
    >
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js">
    </script>
    <style>
      #map {
        width: 600px;
        height: 600px;
      }
    </style>
  </head>
  <body>
    <div
      id="map"
      class="map"
    >
    </div>
    <form>
        <input
            type="text"
            id="location"
        >
        <button
            id="search"
            type="button"
        >
            Search
        </button>
    </form>
    <p><b>Current marker location:</b> <span id="current"></span></p>
    <p><b>Inside polygon:</b> <span id="inside-polygon"></span></p>
    <hr />
    <div id="locations">
    </div>
    <hr />
    <div id="coordinates">
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
