<!DOCTYPE html>
<html>
  <head>
    <title>MapTiler - OpenLayer - OpenStreetMap</title>
    <link
      rel="stylesheet"
      href="https://openlayers.org/en/v4.6.5/css/ol.css"
      type="text/css"
    >
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js">
    </script>
  </head>
  <body>
    <div
      id="map"
      class="map"
    >
    </div>
    <script>

    var map = new ol.Map({
        target: 'map',
        layers: [
            new ol.layer.Tile({
                source: new ol.source.XYZ({
                    attributions: 'Tiles © USGS, rendered with ' +
                        '<a href="http://www.maptiler.com/">MapTiler</a>',
                    url: 'http://0.0.0.0:5000/tiles/{z}/{x}/{y}',
                })
            }),
        ],
        view: new ol.View({
            projection: 'EPSG:4326',
            center: [0, 0],
            zoom: 4
        })
    });

    </script>
  </body>
</html>
