<!DOCTYPE html>
<html>
  <head>
    <title>MapTiler - OpenLayer - OpenStreetMap</title>
    <link
      rel="stylesheet"
      href="https://openlayers.org/en/v4.6.5/css/ol.css"
      type="text/css"
    >
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js">
    </script>
  </head>
  <body>
    <div
      id="map"
      class="map"
    >
    </div>
    <script>

    /**
     * Draws the map into the map area on page.
     *
     * @param {number} latitude the default coordinates latitude
     * @param {number} longitude the default coordinates longitude
     */
    function initialize_map(
        latitude,
        longitude
    ) {

        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.XYZ({
                        attributions: 'Tiles © USGS, rendered with ' +
                            '<a href="http://www.maptiler.com/">MapTiler</a>',
                        url: 'http://0.0.0.0:8080/tiles/{z}/{x}/{y}',
                    })
                }),
            ],
            view: new ol.View({
                projection: 'EPSG:4326',
                center: [latitude, longitude],
                zoom: 4
            })
        });
    }

    if ("geolocation" in navigator) {

        navigator.geolocation.getCurrentPosition(
            function(position) {
                initialize_map(
                    position.coords.latitude,
                    position.coords.longitude
                );
            },
            function() {
                initialize_map(0, 0);
            }
        );
    } else {
        initialize_map(0, 0);
    }

    </script>
  </body>
</html>
